
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-1752YPLP7H");
    </script>
    <link type="text/css" rel="stylesheet" href="~/Templates/colorlib-error-404-10/css/style.css">
    <link rel="icon" type="image/x-icon" href="~/Templates/colorlib-error-404-10/img/planet.svg">
    <title>Page 404</title>
</head>
<body class="permission_denied">
    <div id="tsparticles"><canvas data-generated="true" style="width: 100% !important; height: 100% !important; position: fixed !important; z-index: 0 !important; top: 0px !important; left: 0px !important; pointer-events: initial;" aria-hidden="true" width="1225" height="1343"></canvas></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>
            Sayfada mı Kayboldunuz?<br /> Öyle bir sayfa yok gibi görünüyor.
        </h3>
        <img id="astronaut" src="~/Templates/colorlib-error-404-10/img/astronaut.svg">
        <img id="planet" src="~/Templates/colorlib-error-404-10/img/planet.svg">
        <button class="denied__link">Anasayfaya Dön</button>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
    <script type="text/javascript" src="~/Templates/colorlib-error-404-10/js/404.js"></script>


    <div id="torrent-scanner-popup" style="display: none;"></div>
</body>
</html>
