@model E_Commerce_Website_Project_Mert_Yilmaz.Models.Categories

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-dark text-center mb-4">Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        Kategori Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
         Açıklama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
         Resim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
        </div>
    }
</div>
